<div class="row justify-content-md-center  pb-5">
    <div class="col-md-7 questionContainer">
        <form class="questionForm " action="">
            <h3> QUESTION 1</h3>
            <h6>question here?</h6>
            <div>
                <input class="form-check-input me-2" id="one" name="answer" type="radio" value="option1"> 
                <label class="form-check-label" for="one">A. answer 1 </label>
            </div>
           <div class="mt-1">
               <input class="form-check-input me-2"  id="two" name="answer" type="radio" value="option2"> 
            <label class="form-check-label" for="two">B. answer 2 </label>
           </div>
            <div class="mt-1">
                <input class="form-check-input me-2" id="three" name="answer" type="radio" value="option3"> 
            <label class="form-check-label" for="three">C. answer 3 </label>
            </div>
            <div class="mt-1">
                <input class="form-check-input me-2" id="four" name="answer" type="radio" value="option4"> 
                <label class="form-check-label" for="four">D. answer 4 </label>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Submit Answer" >
        </form>
    </div>
</div>
